<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block title %}Réfactor 2000{% endblock %}</title>

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('js/fancybox/jquery.fancybox.css') }}" type="text/css" media="screen" />
    {% endblock %}
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
      </button>
          <a class="navbar-brand">Réfactor 2000</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% block project_active %}{% endblock %} ><a href="{{ path('refactor_projects')}}">Projets</a></li>
            <li {% block book_active %}{% endblock %} ><a href="{{ path('refactor_books')}}">Cahiers</a></li>
            <li {% block media_active %}{% endblock %} ><a href="{{ path('refactor_medias')}}">Medias</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
        {% block body %}

          {% endblock %}
    </div>


    {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/noty-2.2.2/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/myjs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dropzone.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.9.2.custom.js') }}"></script>
    {% endblock %}

  </body>
</html>