{% extends "::layout.html.twig" %}
{% block media_active %}class="active"{% endblock %}
{% block body %}
<div class = "item-container">
	<div class="row" style="margin:auto;">
	<div class="col-md-4 col-lg-3">
	    	<div class="thumbnail" style="text-align:center;">
	    		<a href="{{ path('refactor_add_medias') }}">
					<span type="button" class="btn btn-primary btn-lg">{{ 'media.New'|trans }}</span>
				</a>
			</div>
		</div>
	{% for media in medias %}
	  	<div class="col-md-4 col-lg-3">
	    	<div class="thumbnail" style="text-align:center;">
	    	<div class="caption">
	    		<p>
	    		<h4 class="col-md-6">{{ media.name}}</h4>
	    		<a href="{{ path('refactor_edit_medias', {'id': media.id}) }}" class="btn btn-info col-md-2 col-md-offset-3" role="button">
			        			<span class="glyphicon glyphicon-pencil"></span>
		          </a>

	    		</div>
	    		</p>
	    		<p>
	    		<div class="img">
	    			{% thumbnail media, 'thumbnail' with {'class': 'img-polaroid media-object'} %}
	    		</div>
	    		</p>
	    		<div class="caption">
	    		<em>{{ media.description}}</em>
	    		</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
