{% extends "::layout.html.twig" %}
{% block body %}
{{ form_start(form, {'method': 'POST', 'attr' : {"class":"dropzone"}}) }}
{{ form_errors(form) }}
<p>
	<h2>
		<div class="row">
		    <div class="col-lg-6">
		    	{{ 'Title'|trans }} : {{form_widget(form.title)}}
		    </div>
		</div>
	</h2>
</p>
<div class="container col-lg-12">
	<div class="col-lg-9">
		<div class="jumbotron col-lg-12" style="padding:20px;">
			<div class="container" style="padding:0px;">
				<div class="col-6 col-sm-6 col-lg-8">
					{{form_label(form.image)}} : {{form_widget(form.image)}}{{form_widget(form.image_input)}}
				</div>
				<div class="col-6 col-sm-6 col-lg-4">
					<p>
						<h3>
							<span class = "value-form">
								{{ 'Subtitle'|trans }} : {{form_widget(form.title2)}}
							</span>
						</h3>
					</p>
				<p>{{ 'Date'|trans }} : {{form_widget(form.date)}}</p>
				<p>{{ 'Content'|trans }} : {{form_widget(form.content)}}</p>
				</div>
			</div>
		</div>
		<div class = "jumbotron col-6 col-sm-6 col-lg-12">
		{{ 'render.Title'|trans }}
			<ul class="renders" data-prototype="{{ form_widget(form.renders.vars.prototype)|e }}">
				{% for render in form.renders%}
						<div class="col-lg-3">
							<li>
					        	{% if render.vars.value is not empty and render.vars.value.providerReference %}
					            	<div >
					                	{% thumbnail render.vars.value, 'admin' with {'class': 'img-polaroid media-object'} %}
					            	</div>
						            {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
						                <a href="{{ url('admin_sonata_media_media_edit', {id: render.vars.value.id}) }}"><strong>{{ render.vars.value.name }}</strong></a>
						            {% else %}
						                <strong>{{ render.vars.value.name }}</strong>
						            {% endif %}
					    	    {% endif %}

					   		</li>
				   		</div>
					    <div style="display:none">
					    	{{form_widget(render)}} 
						</div>
				{% endfor %}
   			</ul>
    	</div>
    </div>
	<div class="col-12 col-sm-6 col-lg-3">
		<p>
			<div class="checkbox">
	   			<label>
	   				{{ 'Published'|trans }}{{form_widget(form.published)}}
	   			</label>
			</div>
		</p>
		<div>
			<h3>{{ 'tag.Title'|trans }}
			</h3>
			<h4>
				<ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype.title)|e }}">
	        		{% for tag in form.tags %}
	        		    <li class="input">{{ form_widget(tag.title) }}</li>
       				{% endfor %}
       			</ul>
			</h4>
		</div>
		<div>
			<h3>{{ 'media.Title'|trans }}</h3>
			<ul class="medias" data-prototype="{{ form_widget(form.medias.vars.prototype)|e }}">
				{% for media in form.medias%}
					<div class="container">
						<div class="col-lg-12">
							<li>
					        	{% if media.vars.value is not empty and media.vars.value.providerReference %}
					            	<div >
					                	{% thumbnail media.vars.value, 'admin' with {'class': 'img-polaroid media-object'} %}
					            	</div>
						            {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
						                <a href="{{ url('admin_sonata_media_media_edit', {id: media.vars.value.id}) }}"><strong>{{ media.vars.value.name }}</strong></a>
						            {% else %}
						                <strong>{{ media.vars.value.name }}</strong>
						            {% endif %}
					    	    {% endif %}

					   		</li>
				   		</div>
					    <div style="display:none">
					    	{{form_widget(media)}} 
						</div>
					</div>
				{% endfor %}
   			</ul>
		</div>
	</div>
</div>
<div style="display:none;">
{{form_rest(form)}}
</div>
<div class = "col-6 col-sm-6 col-lg-3">
	<input class="btn btn-default" type="submit"/>
	<a href="{{ path('refactor_projects')}}" class="btn label-info" role="button">
		<span class="glyphicon-class" style="color:white;">{{ 'Cancel'|trans }}</span>
	</a>
</div>
<script type="text/javascript">
    var availableTags = [
    {% for tag in tags %}
    '{{tag.title}}',
    {% endfor %}
    ];
</script>
{% endblock %}