{% extends "::layout.html.twig" %}
{% block body %}
{{ form_start(form, {'method': 'POST'}) }}
{{ form_errors(form) }}
<p>
	<h2>
		<div class="row">
		    <div class="col-lg-6">
		    	{{form_label(form.title)}} : {{form_widget(form.title)}}
		    </div>
		</div>
	</h2>
</p>
<div class="jumbotron col-lg-9" style="padding:20px;">
	<div class="container" style="padding:0px;">

		<div class="col-6 col-sm-6 col-lg-8">
								<a id ="single_1" rel="group" href="{% path image, 'reference' %}">
	<img id ="Main_image"src="{% path image, 'big' %}" ></a>
	{{form_label(form.image)}} : {{form_widget(form.image)}}
		</div>
		<div class="col-6 col-sm-6 col-lg-4">
			<p>
			<h3>
				<span class = "value-form">
						{{form_label(form.title2)}} : {{form_widget(form.title2)}}
				</span>
		<!-- 		<a href="#" class="btn btn-default btn-xs btn-edit" role="button"><span class="glyphicon glyphicon-pencil"></span></a> -->
			</h3>
			</p>
<!-- 			<p>{{form_label(form.date)}} : {{form_widget(form.date)}}</p> -->
			<p>{{form_label(form.content)}} : {{form_widget(form.content)}}</p>
		</div>
	</div>
</div>
<div class="col-6 col-sm-6 col-lg-3">
	<p>
		<div class="checkbox">
	   		<label>
	   			{{form_label(form.published)}}{{form_widget(form.published)}}
	   		</label>
		</div>
	</p>
	<div>
		<h3>Tags :
			<p><small>
				Comma between each tag
			</small></p>
		</h3>
		<h4><ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">

			       {% for tag in form.tags %}
            <li>{{ form_row(tag) }}</li>
        		{% endfor %}
        		</ul>
		</h4>
		<div>
	<h3>Medias Complémentaire</h3>

	</div>
	</div>
</div>
<input type="submit" />
{{ form_end(form) }}
{% endblock %}