<div class="item-container col-lg-12">
<p>
	<h2>
		<div class="row">
		    <div class="col-lg-4">
		    	{{ 'project.List'|trans }}
		    </div>
		    <div class="col-lg-6">
		    <div class="col-lg-6">
    					<input type="text" class="form-control" id="project_search" placeholder="{{ 'project.Search'|trans }}" onkeypress="return enter(event)">
</div>
  						<div class="btn-group">
						  <span type="button" class="sub btn btn-default" id="project_search_submit">{{ 'Search'|trans }}</span>
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li style="margin-left=5px;">{{ 'Sort'|trans }}</li>
						    <li class="divider"></li>
						    <li><a href="{{ path('refactor_projects', {'sort': 'ASC'}) }}">{{ 'Ascending'|trans }}</a></li>
						    <li><a href="{{ path('refactor_projects', {'sort': 'DESC'}) }}">{{ 'Descending'|trans }}</a></li>
						    <li class="divider"></li>
						    <li><a href="{{ path('refactor_projects', {'sort' : 'recent'}) }}">{{ 'Recent'|trans }}</a></li>
						    <li><a href="{{ path('refactor_projects', {'sort': 'old'}) }}">{{ 'Old'|trans }}</a></li>
						  </ul>
						</div>
			</div>
			<div class="col-lg-2">
				<form name="add_book" action="../books/add/" method="post">
		  		<button type="submit" class="btn btn-primary disabled addBook">
  						{{ 'project.Create'|trans }}
  						<span class="numberProject">0</span>
  					</button>
  					</form>
  				</div>
		</div>
	</h2>
</p>
</div>
<div class = "item-container">
	<div class="row">
		<div class="col-lg-4  new_project">
			<div class="thumbnail project">
	      		<div class="caption" style="text-align:center;">
	      		<a href="{{ path('refactor_add_projects') }}">
					<span type="button" class="btn btn-primary btn-lg">{{ 'project.New'|trans }}</span>
					</a>
			</div>
			</div>
		</div>
	{% for project in projects %}
	  	<div class="col-lg-4 project_result" data-date="{{project.date|date('Y')}}" data-tag="{% for tag in project.tags %} {{tag|lower}}{% endfor %}">
	    	<div class="thumbnail project-mouseover project">
	    		<input type="hidden" name="project[{{project.id}}]" value="{{project.id}}">
	    		<div class="project-img">
	    			{% media project.image, 'thumbnail' %}
	    		</div>
	      		<div class="caption project-btn">
	      			<h2>{{project.title}}
	      				<div>
	      					<small>{{project.title2}}</small>
	        			</div>
	        		</h2>
	        			<p>
		        			<a href="" class="btn btn-primary btn-lg btn-block selector" role="button">
			        			<span class="glyphicon glyphicon-plus"></span>
			        			<span class="glyphicon-class" style="color:white;">{{ 'book.Add'|trans }}</span>
		          			</a>
		          		</p>
		          		<p>
		        			<a href="{{ path('refactor_edit_projects', {'id': project.id}) }}" class="btn btn-warning col-md-4 btn-sm " role="button">
			        			<span class="glyphicon glyphicon-edit"></span>
			        			<span class="glyphicon-class" style="color:white;">{{ 'Change'|trans }}</span>
		          			</a>
		          			<div class="col-md-4"> </div>

				        	<a class="label-danger btn btn-remove col-md-4 btn-sm" role="button" data-id = "{{project.id}}" data-title="{{project.title}}">
				        		<span class="glyphicon glyphicon-remove"></span>
				        		<span class="glyphicon-class" style="color:white;" data-layout="center" data-type="confirm">{{ 'Suppress'|trans }}</span>
				        	</a>
			       		</p>
			    </div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
