{% extends "::layout.html.twig" %}
{% block book_active %}class="active"{% endblock %}
{% block body %}
<div class = "item-container">
	{{ form_start(form)}}
	<div class="row">
		<div class="col-lg-4">
			<div class="thumbnail project">
	      		<div class="caption" style="text-align:center;">
	      				<!-- {{form(form.fiches)}} -->
				{{ form_rest(form) }}
			</div>
			</div>
		</div>
	{% for project in projects %}
	  	<div class="col-lg-4">
	    	<div class="thumbnail project-mouseover project">
	    		<input type="hidden" name="project[{{project.id}}]" value="{{project.id}}">
	    		<div class="project-img">
	    		{% media project.image, 'thumbnail' %} 
	    	</div>
	      		<div class="caption project-btn">
	      			<h2>{{project.title}}
	      				<div>
	      					<small>{{project.title}}</small>
	        			</div>
	        		</h2>	
		          		<p>
		        			<a href="{{ path('refactor_edit_projects', {'id': project.id}) }}" class="btn btn-warning col-md-4 btn-sm " role="button">
			        			<span class="glyphicon glyphicon-edit"></span>
			        			<span class="glyphicon-class" style="color:white;">Modifier</span>
		          			</a>
		          			<div class="col-md-4"> </div>

				        	<a class="label-danger btn btn-remove col-md-4 btn-sm" role="button" data-id = "{{project.id}}" data-title="{{project.title}}">
				        		<span class="glyphicon glyphicon-remove"></span>
				        		<span class="glyphicon-class" style="color:white;" data-layout="center" data-type="confirm">Suprimer</span>
				        	</a>
			       		</p>
			    </div>
			</div>
		</div>
	{% endfor %}
	</div>
					<input type="submit">
					{{ form_end(form)}}
</div>
{% endblock %}