{% extends "::layout.html.twig" %}
{% block book_active %}class="active"{% endblock %}
{% block body %}
<div class="container">
<!-- <div class="new_project"> -->
{#{ form_start(formFiche) }#}
{#{ form_errors(formFiche) }#}

{#% include "ApplicationRefactorReferenceBundle:Fiche:form.html.twig" %#}
<!-- <button id="form_add_fiche">valider</button> -->
{#{form_end(formFiche)}#}
<!-- </div> -->
{{ form_start(form) }}
{{ form_errors(form) }}

<div class = "item-container">
	<div class="row">
		<div class="col-lg-4 new_project_button">
			<div class="thumbnail project">
	      		<div class="caption" style="text-align:center;">
	      		{{form_row(form.title)}}
	      		{{form_row(form.clientName)}}
	      		{{form_row(form.projectName)}}
	      		{{form_row(form.date)}}
	      		{{form_row(form.published)}}
				</div>
			</div>
		</div>
		<ul class="projects" data-prototype="{{ form_widget(form.fiches.vars.prototype)|e }}">
			{% for project in form.fiches %}
			  	<div class="col-lg-4">
			  	<li>
			    	<div class="thumbnail project-mouseover project" >
			    		<div class="project-img">
			    		{% media project.vars.value.image, 'thumbnail' %} 
			    	</div>
			      		<div class="caption project-btn">
			      			<h2>{{project.vars.value.title}}
			      				<div>
			      					<small>{{project.vars.value.title}}</small>
			        			</div>
			        		</h2>
			        		<div style="display:none;">
			        		{{form_widget(project)}}
			        		</div>
			        			{#% include 'ApplicationRefactorReferenceBundle:Fiche:form.html.twig' %#}
			        			{#{ include ('ApplicationRefactorReferenceBundle:Fiche:form.html.twig',{'formFiche' : (form.fiches.vars.prototype)|e}) }#}


					    </div>
					</div>
					</li>
				</div>

				
			{% endfor %}
		</ul>
	</div>
</div>
<!-- <div class = "col-6 col-sm-6 col-lg-12">
<ul class="projects_add" data-prototype="{#{ include ("ApplicationRefactorReferenceBundle:Fiche:form.html.twig" , {'formFiche' : form.fiche_add.vars.prototype})|e}#}">	
{#{ include ("ApplicationRefactorReferenceBundle:Fiche:form.html.twig" , {'formFiche' : form.fiche_add.vars.prototype})|e}#}			
			{#% for formFiche in form.fiche_add %#}
			<li>
				{#% include "ApplicationRefactorReferenceBundle:Fiche:form.html.twig" %#}
			</li>
			{#% endfor %#}
</ul>
</div> -->
<div style="display:none;">
{{form_rest(form)}}
</div>
<div class = "col-6 col-sm-6 col-lg-3">
	<input class="btn btn-default" type="submit"/>
</div>
</div>

{% endblock %}