{% extends "ApplicationRefactorReferenceBundle::layout.html.twig" %}

{% block book_active %}class="active"{% endblock %}

{% block body %}
<section class="book-list container">
    <header class="page-header row">
        <h1 class="page-title col-md-3">{{ 'book.List'|trans }}</h1>

		<form action="" method="get" class="search-form form-inline col-md-9">
			<label class="sr-only" for="search">{{ 'book.Search'|trans }}</label>
			<input type="text" class="form-control col-md-3" id="search-field" name="search" placeholder="{{ 'book.Search'|trans }}">
			<button type="submit" class="sub btn btn-default" id="search-submit">{{ 'Search'|trans }}</button>
		</form>
    </header>

	<div class="row">
		<article id="new-elem" class="col-md-3 text-center">
	  		<a href="{{ path('refactor_add_books') }}" class="thumbnail">
				<button type="button" class="btn btn-primary btn-lg">{{ 'book.New'|trans }}</button>
			</a>
		</article>
		{% for book in books %}
	  	<article class="list-elem col-md-3 book text-center {{book.clientName|lower}}" data-search="{{book.title|lower}} {{book.clientName|lower}} {{book.date|date('Y')}}">
			<div class="thumbnail">
				<h1><a href="{{ path('refactor_show_books', {'id': book.id}) }}">{{book.title}}</a></h1>
				<div class="client-name">{{book.clientName}}</div>
				<p>
					<a href="{{ path('refactor_edit_books', {'id': book.id}) }}" class="btn label-warning" role="button">
			    		<span class="glyphicon glyphicon-edit"></span>
			    		<span class="glyphicon-class">{{ 'Edit'|trans }}</span>
		  			</a>
		        	<a class="label-danger btn btn-remove" role="button" data-url="{{ path('refactor_remove_books', {'id': book.id}) }}" data-id = "{{book.id}}" data-title="{{book.title}}">
		        		<span class="glyphicon glyphicon-remove"></span>
		        		<span class="glyphicon-class" data-layout="center" data-type="confirm">{{ 'Delete'|trans }}</span>
		        	</a>
		        </p>
		    </div>
		</article>
		{% endfor %}
	</div>
</section>
{% endblock %}
